<nav class="navbar navbar-expand-sm navbar-dark " style="--bs-bg-opacity:1; background-color: rgba(134, 143, 117, 1);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <b class="display-5">Annalie Sophia</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto " style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link active" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Asistencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">Lista de invitados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gifts">Lista de regalos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>